.main-container {
  @include xy-grid-container;
}

body {
  &.default_tmpl,
  &.about_tmpl {
    .main-container {
      max-width: rem-calc(800);
      margin-top: rem-calc(72);
    }
    .entry-content {
      margin-bottom: 23.7%;
      @include breakpoint(medium down) {
        margin-bottom: 20%;
      }
    }
  }
}

.main-grid {
  @include xy-grid();
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(12);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(12);
      margin-top: 1rem;
    }

  }
}
