#site-footer {
  margin-top: 7%;
  position: relative;
  @media print {
    opacity: 0;
  }
  @include breakpoint(medium) {
    padding: 0 24px;
  }
  @include breakpoint(small down) {
    padding: 0 20px;
    margin-top: 15%;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #353564;
    z-index: -1;
    height: 137px;
    width: 100%;
    @include breakpoint(medium down) {
      height: calc(100% - 21px);
    }
  }
}

body {
  &.default_tmpl,
  &.contacts_tmpl {

  }
  &.homepage_tmpl {
    #site-footer {
      margin-top: -51px;
      z-index: 4;
    }
  }
}

.footer-container {
  @include xy-grid-container;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  max-width: rem-calc(1144);
  background: #2C2B57;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer-grid {
  @include xy-grid;
  width: 100%;
  padding: rem-calc(45) rem-calc(10);
  @include breakpoint(small down) {
    justify-content: center;
  }
  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
    &.widget_media_image {
      max-width: 120px;
      width: 100%;
      align-self: center;
      @include breakpoint(large down) {
        max-width: 95px;
      }
      @include breakpoint(small down) {
        max-width: 100%;
      }
      a {
        display: block;
        @include breakpoint(small down) {
          text-align: center;
          max-width: rem-calc(121);
          margin: 0 auto;
          margin-bottom: 35px;
        }
      }
    }
    &.widget_nav_menu {
      max-width: 213px;
      width: 100%;
      align-self: center;
      margin-left: 49px;
      @include breakpoint(small down) {
        max-width: 100%;
        margin-bottom: rem-calc(28);
        margin-left: 0.625rem;
      }
      ul.menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        li {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: $white;
          margin-bottom: 13px;
          flex: 1 0 50%;
          text-align: left;
          transition: color .3s;
          @include breakpoint(small down) {
            flex: 1 0 100%;
            text-align: center;
            margin-bottom: 16px;
            &:nth-child(1) {
              order: 1;
            }
            &:nth-child(2) {
              order: 3;
            }
            &:nth-child(3) {
              order: 2;
            }
            &:nth-child(4) {
              order: 4;
            }
          }
          a {
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;
            font-style: inherit;
            text-align: inherit;
            padding: 0;
            transition: color .3s;
          }
          &.current_page_item {
            background: transparent;
            a {
              background: inherit;
            }
          }
          &:hover,
          &:focus {
            color: #9B9AAD;
          }
        }
      }
    }
    &.widget_ktwidgetsocials {
      width: auto;
      flex: auto;
      align-self: center;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
