// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}
.site-title-bar .top-bar-right {
  @include hide-for(medium);
}
//
.desktop-menu,
.site-navigation .top-bar-center,
.site-navigation .top-bar-left,
.site-navigation .top-bar-right {
  @include show-for(medium);
}
// Main Header
#site-header {
  padding-right: rem-calc(24);
  padding-left: rem-calc(24);
  width: 100%;
  max-width: rem-calc(1190);
  margin: 0 auto;
  @include breakpoint(medium down) {
    padding-right: rem-calc(16);
    padding-left: rem-calc(20);
    min-height: 52px;
  }
  @include breakpoint(small down) {
    min-height: 52px;
  }

  .site-navigation {
    padding: 0;
    @include breakpoint(medium) {
      min-height: rem-calc(107);
    }
  }
  .top-bar,
  .top-bar ul {
    background: transparent;
  }
  .site-desktop-title {
    a {
      display: block;
      max-width: rem-calc(202);
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .top-bar-left {

  }
  .top-bar-center {

    ul.menu {
      li {
        a {
          font-family: $affog-font;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: $purpl;
          padding: 1rem 0;
          transition: color .3s;
          &:hover,
          &:focus {
            color: $l-purpl;
          }
        }
        &:not(:last-of-type) {
          margin-right: 48px;
          @include breakpoint(medium down) {
            margin-right: 36px;
          }
        }
      }
    }
  }
  .top-bar-right {

  }
  // mobile
  .site-title-bar {
    background: transparent;
    padding: 5px 0;
    min-height: 42px;
    .title-bar-title {
      max-width: rem-calc(202);
      a {
        display: block;
      }
      @include breakpoint(small down) {
        max-width: rem-calc(143);
        margin-left: 24px;
      }
      @media screen and (max-width: 346px) {
        margin-left: 16px;
      }
      @media screen and (max-width: 319px) {
        max-width: rem-calc(120);
      }
    }
  }
  .menu-icon {
    margin: 0;
    &:after {
      border-radius: 5px;
      background: $purpl;
      box-shadow: 0 7px 0 $purpl, 0 14px 0 $purpl;
    }
  }
}

// off-canvas mobile
.off-canvas-content {
  min-height: inherit;
}
.mobile-off-canvas-menu-close {
  width: 30px;
  height: 30px;
  padding: 8px;
  margin-top: 14px;
  margin-right: 20px;
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    background-size: contain;
    background: url("../images/icons/close-white.svg") no-repeat 50% 50%;
  }
}
.mobile-off-canvas-menu {
  background: $d2-purpl;
  box-shadow: none;
  &.is-open {
    width: 100%;
    max-height: 100%;
    overflow-x: auto;
    padding-bottom: 170px;
  }
  ul.menu {
    padding-top: 18.5%;
    padding-bottom: 18.5%;
    position: relative;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
    &:before {
      background: url("../images/icons/offcanvas-menu-bg.svg") no-repeat 50% 82%;
      background-size: contain;
    }
    &:after {
      background: url("../images/icons/offcanvas-comets.svg") no-repeat 50% 50%;
      background-size: contain;
      right: 28px;
      top: 24px;
    }
    li {
      text-align: center;
      margin-bottom: 30px;
      padding: 0 24px;
      a {
        font-weight: 900;
        font-size: rem-calc(32);
        line-height: rem-calc(38);
        text-align: center;
        color: $sky;
        padding: 0;
      }
      &:hover,
      &:focus {
        outline: none;
        a {
          outline: none;
          text-decoration: underline;
        }
      }
      &.current-menu-item,
      &.is-active {
        a {
          background: transparent;
          text-decoration: underline;
        }
      }
    }
  }
  .widget-header {
    margin-top: 24px;
  }
}

body {
  &.default_tmpl,
  &.contacts_tmpl,
  &.about_tmpl,
  &.kt_woo_account_tmpl {
    #site-header {
      .top-bar-left {}
      .top-bar-center {}
      .top-bar-right {}
    }
  }
  &.kt_woo_invoice_tmpl {
    @media print {
      * {
        color: $purpl !important;
      }
    }
    #site-header {
      .top-bar-center,
      .top-bar-right {
        opacity: 0;
        @include breakpoint(medium down) {
          opacity: 1;
        }
      }
      .site-desktop-title {
        margin-top: 44px;
        display: block;
        @include breakpoint(medium down) {
          margin: 0.5rem 1rem 0.5rem 0;
        }
        .print-logo-image {
          max-width: 100%;
          width: 100%;
          min-height: 98px;
          height: auto;
          display: none;
          min-width: 336px;
          margin-left: 20px;
          @media print {
            display: block !important;
          }
        }
        a {
          max-width: rem-calc(336);
          width: 100%;
          display: block;
          margin-left: 20px;
          @media print {
            display: none;
          }
          @include breakpoint(medium down) {
            margin-left: 0;
            max-width: rem-calc(202);
          }
        }
      }
    }

  }
  &.homepage_tmpl,
  &.kt_woo_login_tmpl {
    #site-header {
      position: relative;
      z-index: 15;
      .top-bar-left {}
      .top-bar-center {
        flex: 1 1 auto;
        ul.menu {
          li {
            a {
              color: $white;
            }
          }
        }
      }
      .top-bar-right {
        .header-loginout-icons {
          .loginout-item {
            a {
              color: $white;
              svg {
                color: $white;
                fill: $white;
              }
            }
          }
        }
      }
      .menu-icon {
        &:after {
          background: $white;
          box-shadow: 0 7px 0 $white, 0 14px 0 $white;
        }
      }
      .site-desktop-title,
      .title-bar-title {
        a {
          background: url("../images/icons/logo-horizontal-white.svg") no-repeat 50% 50%;
          background-size: contain;
          img {
            opacity: 0;
          }
        }
      }

    } // #site-header
  }
}

// Header Woo Icons
.header-loginout-icons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: 56px;
  @include breakpoint(medium down) {
    margin-left: 36px;
  }
  @media screen and (max-width: 346px) {
    margin-left: 16px;
  }
  .loginout-item {
    list-style: none;
    &:not(:last-of-type) {
      margin-right: 37px;
      @include breakpoint(medium down) {
        margin-right: 33px;
      }
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      position: relative;
      .label {
        display: none;
        svg {
          display: block;
        }
      }
    }
    &__myaccount {}
    &__loggedin {}
    &__cart {
      .header-cart-count {
        border-radius: 50%;
        font-size: 0;
        display: block;
        width: 12px;
        height: 12px;
        background: #FF7071;
        box-shadow: 0 4px 12px rgba(77, 77, 77, 0.21);
        position: absolute;
        right: 0;
        top: -6px;
        z-index: 2;
      }
    }
  }
}



// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}
