.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

.kt-btn {
  min-height: 43px;
  &--gradient {
    font-family: $affog-font-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: $white;
    background: $brn-gradient;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.25);
    border-radius: 100px;
  }
}
