body {
  &.woocommerce-cart {
    .main-container {
      max-width: rem-calc(1192);
      @include breakpoint(medium down) {
        margin-top: 50px;
      }
      header {
        display: none;
      }
    }

  }
}

.woo-cart {
  &__container {
    margin-top: 50px;
    min-height: 35vh;
    .kt-btn {
      color: $white;
    }
    .cart-title {
      font-weight: 900;
      font-size: 24px;
      line-height: 130%;
      margin-bottom: 24px;
      text-align: center;
    }
    .woocommerce-info {
      &.cart-empty {
        border: none;
        background: transparent;
        color: $purpl;
        padding: 0;
        margin-bottom: 12px;
        font-weight: 900;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        &:before {
          display: none;
        }
      }
    }
    .return-to-shop {
      min-height: 42vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include breakpoint(small down) {
        min-height: initial;
        margin-bottom: 72px;
      }
      .woocommerce-notices-wrapper {
        margin-bottom: 0;
      }
      .woocommerce-info {
        margin-bottom: 24px;
        &.cart-empty {
          margin-bottom: 12px;
        }
      }
      .woocommerce-message {
        margin-top: 32px;
        .restore-item {
          margin-left: 16px;
          padding: 6px 16px;
          border: 1px solid;
          border-radius: 100px;
          display: inline-block;
          margin-top: 4px;
          margin-bottom: 4px;
          min-width: 85px;
          &:hover,
          &:focus{
            font-weight: bold;
            letter-spacing: 1px;
          }
        }
      }
      &__image {
        margin: 0 auto;
        margin-bottom: 40px;
        max-width: 134px;
        width: 100%;
        display: block;
        height: auto;
      }
      &__msg {
        text-align: center;
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: $l-purpl;
      }
    }

    // form
    form.woocommerce-cart-form {

    }
    table.woocommerce-cart-form {
      border: none;
      border-top: 1px solid $l-gray;
      margin: 0;
      margin-bottom: 16px;
      @include breakpoint(small down) {
        margin-bottom: 20px;
        padding-top: 20px;
      }
      thead {
        display: none;
      }
      tbody {
        border: none;
        tr {
          border: none;
          @include breakpoint(medium down) {
            display: table-row;
          }
          @include breakpoint(small down) {
            position: relative;
            display: flex;
            padding-bottom: 24px;
            margin-bottom: 24px;
            border-bottom: 1px solid $l-gray;
          }
          &:nth-child(even) {
            background: transparent;
          }
          &:last-of-type {
            border: none;
            td {
              border: none;
            }
            @include breakpoint(small down) {
              margin-bottom: 0;
              padding-bottom: 0;
            }
          }

          td {
            padding: 24px 0;
            border: none;
            border-bottom: 1px solid $l-gray;
            @include breakpoint(medium down) {
              &:before {
                display: none;
              }
            }
            @include breakpoint(small down) {
              padding: 0;
              border: none;
            }
            &.actions {
              text-align: right;
              @include breakpoint(medium down) {
                text-align: right !important;
              }
              @include breakpoint(small down) {
                width: 100%;
                justify-content: flex-end;
              }
            }
            &.product-thumbnail {
              width: 100px;
              vertical-align: top;
              @include breakpoint(small down) {
                width: 72px;
                align-items: flex-start;
              }
              @media screen and (max-width: 364px) {
                width: auto;
              }
              a {
                display: block;
                img {
                  width: auto;
                  max-width: 100px;
                  margin: 0 auto;
                  display: block;
                  max-height: 100px;
                }
              }
            }
            &.product-name {
              padding-left: 12px;
              vertical-align: top;
              @include breakpoint(small down) {
                flex-direction: column;
                align-items: flex-start;
              }
              @media screen and (max-width: 364px) {
                padding-left: 8px;
              }
              .product-name,
              .product-category,
              .product-sku,
              .product-quantity {
                display: block;
                margin-bottom: 8px;
              }
              .product-name {
                font-weight: 900;
                font-size: 18px;
                line-height: 130%;
              }
              .product-category {
                color: $l-purpl;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
              }
              .product-sku {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
              }
              .product-actions {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-top: 20px;
                .product-quantity {
                  margin-bottom: 0;
                  margin-right: 16px;
                }
                .product-edit {
                  margin: 0;
                }
              }
              .amount {
                display: none;
                font-weight: 900;
                font-size: 18px;
                line-height: 130%;
                color: $purpl;
                @include breakpoint(small down) {
                  display: block;
                }
                .woocommerce-Price-currencySymbol {
                  font-size: 0;
                  position: relative;
                  &:before {
                    content: 'SGD';
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 130%;
                    color: $purpl;
                  }
                }
              }
            }
            &.product-subtotal {
              text-align: right;
              vertical-align: top;
              @include breakpoint(medium down) {
                text-align: right !important;
              }
              @include breakpoint(small down) {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
              }
              .amount {
                font-weight: 900;
                font-size: 18px;
                line-height: 130%;
                color: $purpl;
                @include breakpoint(small down) {
                  display: none;
                }
                .woocommerce-Price-currencySymbol {
                  font-size: 0;
                  position: relative;
                  &:before {
                    content: 'SGD';
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 130%;
                    color: $purpl;
                  }
                }
              }
            }
          }
        }
      }
    }

    // Cart Totals
    .cart-collaterals {
      .cart_totals {
        float: none;
        margin-bottom: 40px;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        @include breakpoint(medium down) {
          margin-bottom: 15%;
        }
        table {
          border: none;
          margin: 0;
          max-width: max-content;
          width: 100%;

          @include breakpoint(small down) {
            max-width: 100%;
            padding: 0;
          }
          tbody {
            tr {
              display: flex;
              align-items: flex-end;
              justify-content: flex-end;
              padding-bottom: 8px;
              border: none;
              margin: 0;
              @media screen and (max-width: 365px) {
                flex-wrap: wrap;
                margin-bottom: 0;
              }
              th {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: $l-purpl;
                text-transform: uppercase;
                text-align: right;
                padding: 0 24px 5px 0;
                min-width: 112px;
                display: block;
                @include breakpoint(small down) {
                  color: $purpl;
                }
              }
              td {
                font-weight: 900;
                font-size: 24px;
                line-height: 130%;
                text-align: right;
                padding: 0;
                min-width: 108px;
                @include breakpoint(medium down) {
                  &:before {
                    display: none;
                  }
                }
                * {
                  font-weight: 900;
                  font-size: 24px;
                  line-height: 130%;
                }
                .woocommerce-Price-currencySymbol {
                  font-size: 0;
                  position: relative;
                  &:before {
                    content: 'SGD';
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 130%;
                    display: inline-block;
                    color: $purpl;
                    @media print {
                      color: #000;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    // Remove Actions
    .action-remove {
      max-width: max-content;
      margin-left: auto;
      margin-bottom: 28px;
      a.remove {
        font-size: 0;
        width: 16px;
        height: 16px;
        display: block;
        svg {
          fill: $l-purpl;
          display: block;
          transition: all .3s;
          width: 100%;
        }
        &:hover,
        &:focus {
          color: transparent;
          background: transparent;
          font-size: 0;
          svg {
            fill: #ee406f;
          }
        }
      }
    }

    // Cart Actions
    .cart-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include breakpoint(small down) {
        flex-wrap: wrap;
      }
      .wc-proceed-to-checkout {
        max-width: 233px;
        width: 100%;
        padding: 0;
        @include breakpoint(small down) {
          max-width: 100%;
        }
        a.checkout-button {
          margin: 0;
          max-width: 100%;
          width: 100%;
          font-size: 20px;
          padding: 8px 16px;
          display: flex;
          &:before {
            box-shadow: 0 4px 12px rgba(88, 68, 139, 0.5);
          }
        }
      }

    }



  } // &__container
}
