body {
  &.kt_woo_login_tmpl {
    background-color: $d3-purpl;
    background-image: url("../images/icons/woo-header-bg.svg");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: auto;
    position: relative;
    @include breakpoint(medium down) {
      background-position: 116% 0;
      background-size: 535px 171px;
    }
    // footer
    #site-footer {
      display: none;
    }
    // body
    .main-container {
      margin-top: 36px;
      position: relative;
      z-index: 15;
      @include breakpoint(medium) {
        padding-bottom: 5%;
      }
      @include breakpoint(medium down) {
        margin-top: 42px;
        padding-bottom: 15%;
      }
      @include breakpoint(small down) {
        padding-bottom: 30%;
      }
    }
    .entry-title {
      color: $sky;
      font-weight: 900;
      font-size: 68px;
      line-height: 130%;
      margin-bottom: rem-calc(36);
      @include breakpoint(medium down) {
        font-size: 32px;
      }
    }

  }
}
// body wrapper
.main-content {
   &.body-kt_woo_login_tmpl {
     position: relative;
     display: block;
     overflow: hidden;
     min-height: calc( 100vh - 107px );
     @include breakpoint(small down) {
       min-height: calc( 100vh - 52px );
     }
     &:before {
       content: '';
       display: block;
       position: absolute;
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
       background: url("../images/icons/woo-body-bg.svg") no-repeat 50% 54%;
       background-size: contain;
       animation: 20s infinite alternate swell;
       @include breakpoint(medium down) {
         background-position: 55% 37%;
         background-size: 180%;
       }
     }
   }
}
.has-account {
  &__message {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $l-purpl;
    margin-bottom: 4px;
  }
  &__link {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    &:hover,
    &:focus {
      color: $sky;
    }
  }
}
body .woocommerce {
  form.woo-kt_form {
    max-width: rem-calc(391);
    margin: 0 auto;
    border: none;
    outline: none;
    padding: 0;
    margin-bottom: 30px;
    .woocommerce-privacy-policy-text {
      display: none;
    }
    .form-row {
      width: 100%;
      position: relative;
      border-radius: 10px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: stretch;
      margin: 0 0 30px;
      @include breakpoint(medium down) {
        margin: 0 0 24px;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      &:not(.form-row__checkbox) {
        label {
          display: none;
        }
      }
      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 12px;
        right: initial;
        display: none;
      }
      &:before {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        background-color: transparent;
        width: 18px;
        height: 18px;
        background-image: url('../images/icons/email.svg');
        z-index: 1;
      }
      &:after {
        left: 42px;
        width: 1px;
        height: 22px;
        background: #DCDCE8;
        border-radius: 5px;
      }
      input:not([type="submit"]),
      textarea {
        min-height: 44px;
        display: block;
        width: 100%;
        border: 2px solid transparent;
        background: $white;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 15px 16px;
        box-shadow: none;
        outline: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $d-purpl;
        margin-bottom: 0;
        &::placeholder{
          color: $l-purpl;
        }
        &:hover {
          border: 3px solid #DCDCE8;
        }
        &:focus {
          border: 3px solid #58448B;
        }
        &:-webkit-autofill {
          background: transparent;
          -webkit-text-fill-color: $d-purpl;
          color: $d-purpl;
          transition: background-color 5000s ease-in-out 0s;
          background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
          &:hover,
          &:focus {
            background: transparent;
            -webkit-text-fill-color: $d-purpl;
            color: $d-purpl;
            transition: background-color 5000s ease-in-out 0s;
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
          }
        }
      }
      &__checkbox {
        label {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          max-width: max-content;
          margin: 0 auto;
        }
        input:not([type="submit"]) {
          width: 16px;
          min-height: initial;
          height: 16px;
          padding: 6px;
          margin-right: 10px;
        }
        .label-name {
          color: $l-purpl;
          font-weight: 500;
          font-size: 14px;
          line-height: 1;
        }
      }
      &__rememberme {
        display: none;
        margin-bottom: 16px;
      }
      &__lost_password {
        color: $l-purpl;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        justify-content: center;
        * {
          color: inherit;
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;
          font-weight: inherit;
          font-style: inherit;
        }
        a {
          position: relative;
          max-width: max-content;
          transition: all .3s;
          &:after {
            content: '';
            display: block;
            height: 1px;
            width: 100%;
            max-width: max-content;
            background: $l-purpl;
            opacity: 0;
            transition: all .3s;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -3px;
          }
          &:hover,
          &:focus {
            &:after {
              opacity: 1;
            }
          }
        }
      }
      &__submit {
        + .form-row__rememberme {
          margin-top: -10px;
        }
      }
      &__username,
      &__email,
      &__password,
      &__confirm_password {
        &:before,
        &:after {
          display: block !important;
        }
        input:not([type="submit"]) {
          padding-left: 59px;
        }
      }
      &__username {
        &:before {
          background-image: url('../images/icons/user.svg');
        }
      }
      &__email {
        &:before {
          background-image: url('../images/icons/email.svg');
        }

      }
      &__password,
      &__confirm_password {
        &:before {
          background-image: url('../images/icons/lock.svg');
        }
      }
      &__confirm_password {}
      .password-input {
        width: 100%;
        position: relative;
        .woocommerce-password-strength {
          background: transparent;
          border: none;
          outline: none;
          color: $l-pink;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -17px;
          padding: 1px;
          &.bad,
          &.short {
            color: $carrot;
          }
          &.good {
            color: $l-pink;
          }
          &.strong {
            color: $sky;
          }
        }
        .woocommerce-password-hint {
          display: none;
        }
      }
    } // .form-row

    [type="submit"] {
      position: relative;
      font-family: $affog-font;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 21px;
      text-align: center;
      color: $white;
      background: $brn-gradient;
      box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.25);
      border-radius: 100px;
      border: 1px solid #EA4F2A;
      outline: none;
      min-height: 47px;
      width: 100%;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all .3s;
      //text-shadow: 0 4px 4px rgba(255, 255, 255, 0.15);
      &:before {
        content: '';
        position: absolute;
        top: -3px;
        bottom: -3px;
        left: -3px;
        right: -3px;
        z-index: -1;
        min-height: 100%;
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 100px;
        border: 2px solid #fff;
        background: #fff;
        box-shadow: 0 4px 12px rgba(255, 255, 255, 0.25);
        cursor: pointer;
      }
      &:hover,
      &:focus {
        cursor: pointer;
        color: $white;
        background: $brn-gradient;
      }
      &:hover {
        background: $brn-gradient-hover;
      }
      &:focus {
        background: $brn-gradient-focus;
      }
    } // [type="submit"]

  } // form.woo-kt_form
} // .body .woocommerce

// All Forms
.woo-password-request,
.woo-reset_password,
.woo-register,
.woo-login,
.woo-confirmation {
  &__container {
    max-width: rem-calc(720);
    margin: 0 auto;
    // woocommerce notice
    .woocommerce-notices-wrapper {
      max-width: rem-calc(391);
      margin: 0 auto;
      margin-bottom: 24px;
      .woocommerce-error{
        background: $carrot;
        border-radius: 10px;
        border: none;
        margin: 0;
        padding: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        min-height: 40px;
        @include breakpoint(medium down) {
          min-height: 38px;
        }
        @include breakpoint(small down) {
          min-height: 44px;
        }
        &:before {
          display: none;
        }
        * {
          color: $l-pink;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
        }
      }
    }
  }
}
// lost password
.woo-password-request {
  &__container {
    .entry-title {
      margin-bottom: 12px;
    }
  }
  &__message {
    color: $l-purpl;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 32px;
  }
}

// Reset password
.woo-reset_password {
  &__container {
    .entry-title {
      margin-bottom: 12px;
    }
  }
  &__message {
    color: $l-purpl;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 32px;
    display: none;
  }
}

// register
.woo-register {
  &__container {

  }
}

// login
.woo-login {
  &__container {

  }
}

// confirmation
.woo-confirmation {
  &__container {
    .entry-title {
      margin-bottom: 12px !important;
    }
  }
  &__message {
    color: $l-purpl;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    @include breakpoint(medium down) {
      font-size: 14px;
      line-height: 22px;
    }
    * {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      font-style: inherit;
    }
  }
}

/*
* YITH WOOCOMMERCE SOCIAL LOGIN PREMIUM
*/
.woo-kt_form__separate {
  color: $l-purpl;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  &:after,
  &:before {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background: $l-purpl;
    border-radius: 100px;
    margin-top: 5px;
  }
  &:after {
    margin-left: 14px;
  }
  &:before {
    margin-right: 14px;
  }
}
.wc-social-login {
  p {
    margin-bottom: 0;
    padding: 0;
  }
   .ywsl-label,
   .socials-list {
     display: none;
   }
   .ywsl-social {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     min-height: 44px;
     width: 100%;
     padding: 13px;
     border: 1px solid rgba(255, 255, 255, 0.3);
     box-sizing: border-box;
     border-radius: 100px;
     font-weight: bold;
     font-size: 16px;
     line-height: 19px;
     color: $white;
     cursor: pointer;
     transition: all .3s;
     margin-bottom: 0;
     &:not(:last-of-type) {
       margin-bottom: 24px;
       @include breakpoint(small down) {
         margin-bottom: 20px;
       }
     }
     * {
       color: inherit;
       font-family: inherit;
       font-size: inherit;
       line-height: inherit;
       font-weight: inherit;
       font-style: inherit;
     }
     .social {
       &-label {
         margin-right: 5px;
         display: inline-block;
       }
       &-name {
         display: inline-block;
         text-transform: capitalize;
       }
     }
     img {
       max-width: 18px;
       width: auto;
       height: auto;
       display: inline-block;
       margin-right: 8px;
     }
     &:hover,
     &:focus {
       cursor: pointer;
       background: transparent;
       border: 1px solid rgba(255, 255, 255, 1);
     }
   }
}
