html {
  min-height: 100%;
  height: auto;
}
body {
  font-family: $affog-font;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100%;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0);
    border-radius: 25px;
    background-color: #EBEBF2;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #EBEBF2;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 25px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    background: $d1-purpl;
  }
}

// Global Select
.select2-search {
  &--dropdown {
    .select2-search {
      &__field {
        border: 3px solid $l-gray;
        padding: 5px 16px;
      }
    }
  }
}

.select2-container {
  .selection {
    display: block;
  }
  &--open {
    .select2-dropdown {
      &--below,
      &--above {
        top: 35px; // 28px
        border: 3px solid $l-gray;
        padding: 5px 8px;
        //border-top: none;
        border-radius: 10px;
        //border-top-left-radius: 0;
       // border-top-right-radius: 0;
        min-width: 165px;
      }
      &--above {
        top: 35px;
        //border-bottom: none;
        border-top: 3px solid $l-gray;
        border-radius: 10px;
        //border-bottom-left-radius: 0;
        //border-bottom-right-radius: 0;
      }
    }
    .select2-selection--single {
      border-bottom-left-radius: 10px !important;
      border-bottom-right-radius: 10px !important;
      .select2-selection__arrow {
        b {
          border-width: 0 6px 7px 6px !important;
          border-color: transparent transparent $l-purpl transparent !important;
        }
      }
    }
  }
  &--default {
    .select2-results {
      &__options {
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0);
          border-radius: 25px;
          background-color: $l-gray;
        }

        &::-webkit-scrollbar {
          width: 5px;
          background-color: $l-gray;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 25px;
          -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
          background: $l-purpl;
        }
       &:focus {
         outline: none;
       }
      }
      &__option {
        line-height: 1;
        &[aria-selected=true],
        &[data-selected=true] {
          background-color: $l-purpl;
          color: #fff;
          outline: none;
          line-height: 1;
        }
        &--highlighted[aria-selected],
        &--highlighted[data-selected] {
          background-color: $l-gray;
          color: $purpl;
          outline: none;
          line-height: 1;
        }
      }
    }
    .select2-search {
      &--dropdown {
        margin-bottom: 16px;
        padding: 0;
        .select2-search {
          &__field {
            border: 3px solid $l-gray;
            border-radius: 10px;
            padding: 15px 16px;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            min-height: 40px;
            box-shadow: none;
            outline: none;
            margin: 0;
          }
        }
      }
    }
    .select2-selection {
      &--single {
        background: transparent;
        border: 3px solid $l-gray;
        border-radius: 10px;
        display: flex;
        align-items: center;
        min-height: 47px;
        max-height: 47px;
        height: auto;
        margin: 0;
        &:focus {
          outline: none;
          border: 3px solid $l-purpl;
        }
        .select2-selection__rendered {
          padding: 10px 16px;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: $d-purpl;
          flex: 1;
          &:focus {
            outline: none;
          }
        }
        .select2-selection__arrow {
          top: initial;
          right: 1rem;
          b {
            border-width: 7px 6px 0 6px;
            border-color: $l-purpl transparent transparent transparent;
          }
        }

      }
    }
  }
}

mark {
  background-color: $sky;
}

// woocommerce notice
.woocommerce-notices-wrapper,
.woocommerce-form-login-toggle,
.woocommerce-NoticeGroup {
  max-width: rem-calc(391);
  margin: 0 auto;
  margin-bottom: 32px;
  &.with-modal {
    overflow: hidden;
    margin: 0;
    height: 0 !important;
    .woocommerce-message {
      background: transparent;
      height: 0 !important;
      overflow: hidden;
    }
  }
  .woocommerce-error,
  .woocommerce-message,
  .woocommerce-info {
    background: $carrot;
    border-radius: 10px;
    border: none;
    margin: 0;
    padding: 8px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    min-height: 40px;
    @include breakpoint(medium down) {
      min-height: 38px;
    }
    @include breakpoint(small down) {
      min-height: 44px;
    }
    &:before {
      display: none;
    }
    * {
      color: $l-pink;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }
    + .woocommerce-error,
    + .woocommerce-message,
    + .woocommerce-info {
      margin-top: 32px;
    }
  }
  .woocommerce-message {
    background: $green;
    font-weight: 500;
    color: #fff;
    * {
      font-weight: inherit;
      color: inherit;
    }
    .button {
      font-weight: 500;
      text-decoration: none !important;
      border: 2px solid $l-gray;
      padding: 6px 16px;
      border-radius: 100px;
      margin-bottom: 8px;
      margin-top: 8px;
      background: transparent;
      color: $white;
      &:hover,
      &:focus {
        background: $l-gray;
        color: $purpl;
      }
    }
    &.is_product {
      background: transparent;
      color: $purpl;
      .button {
        background: transparent;
        color: $purpl;
        &:hover,
        &:focus {
          border: 2px solid $l-purpl;
          color: $purpl;
        }
      }
    }
  }
  .woocommerce-info {
    background: $l-gray;
    font-weight: normal;
    color: $purpl;
    * {
      font-weight: inherit;
      color: inherit;
      font-size: inherit;
    }
    a {
      font-weight: 500;
      text-decoration: none !important;
      margin-right: 5px;
      transition: all .3s;
    }
    .show-login,
    .show-registration {
      border: 2px solid $white;
      padding: 6px 16px;
      border-radius: 100px;
      margin-bottom: 4px;
      margin-top: 4px;
      margin-left: 16px;
      background: transparent;
      color: $purpl;
      &:hover,
      &:focus {
        background: $white;
        color: $purpl;
      }
    }
    .show-login {
      margin-right: 16px;
    }
    .show-registration {

    }
  }
}
.woocommerce-form-login-toggle {
  max-width: max-content;
}

.woocommerce-notice {
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 16px;
  margin: 0 auto 16px;
  background: $l-gray;
  color: $purpl;
  font-weight: 500;
  border-radius: 100px;
  * {
    margin-bottom: 0;
  }
  &:first-child {
    margin-top: 32px;
  }
  @media print {
    opacity: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
  }
  &--success {
    background: $green;
    color: $white;
  }
  &--error {
    background: $carrot;
    color: $white;
  }
  &--info {
    background: $l-gray;
    color: $purpl;
  }
}

a.remove {
  font-size: 0;
  width: 16px;
  height: 16px;
  display: block;
  svg {
    fill: $l-purpl;
    display: block;
    transition: all .3s;
    width: 100%;
  }
  &:hover,
  &:focus {
    color: transparent;
    background: transparent;
    font-size: 0;
    svg {
      fill: #ee406f;
    }
  }
}

.woocommerce {
  table.shop_table_responsive {
    thead {
      @include breakpoint(medium down) {
        display: table-header-group;
      }
      @include breakpoint(small down) {
        display: none;
      }
      tr {
        @include breakpoint(medium down) {
          display: table-row;
        }
        @include breakpoint(small down) {
          display: none;
        }
      }
    }
    tbody {
      tr {
        @include breakpoint(small down) {
          margin-bottom: 16px;
          padding-bottom: 16px;
        }
        &:nth-child(2n) {
          td {
            background: transparent !important;
          }
        }
        td {
          @include breakpoint(medium down) {
            display: table-cell !important;
            text-align: inherit !important;
            &:before {
              display: none;
            }
          }
          @include breakpoint(small down) {
            display: flex !important;
            flex-wrap: wrap;
            text-align: left !important;
            align-items: center;
            &:before {
              display: block;
              font-weight: 900;
              margin-right: 16px;
            }
            .woo-btn {
              margin-left: 0;
              margin-right: 16px;
              margin-bottom: 0;
              &:last-of-type {
                margin-right: 0;
              }
              @media screen and (max-width: 365px) {
                margin-bottom: 8px;
              }
            }
          }
        }
      }
    }
  }

  /*
  * Woocommere pagination
  */
  nav.woocommerce-pagination {
    .page-numbers {
      margin: 0;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        border: none;
        float: none;
        margin: 0 4px;
        a.page-numbers,
        span.page-numbers {
          border: 2px solid $l-gray;
          border-radius: 50%;
          font-weight: 500;
          color: $purpl;
          font-size: 16px;
          line-height: 16px;
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: transparent;
          transition: all .3s;
          &.prev,
          &.next {
            color: $purpl;
            font-size: 0;
            &:before {
              content: '<';
              font-size: 16px;
              line-height: 16px;
              font-weight: 500;
              color: $purpl;
            }
          }
          &.next {
            &:before {
              content: '>';
            }
          }
          &.current {
            border: 2px solid $purpl;
            background: transparent;
            color: $purpl;
          }
          &:hover,
          &:focus {
            border: 2px solid $l-purpl;
          }
        }
      }
    }
  } // nav.woocommerce-pagination

}



.app-loading {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 1;
  position: absolute;
  background: rgba(255, 255, 255, 1);
  z-index: 99999999;
  padding: 15px;
}

.spinner {
  height: 50px;
  width: 50px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  .path {
    stroke-dasharray: 1, 100;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: $white;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

